@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity
@using DataModel.DataEntity;
@using DataModel.DataViewModel;
@using DataModel.Extension;
@model DataModel.DataViewModel.EmailSupportViewModel
@{
    ViewBag.Title = "DetailEmail";
    Layout = "~/Areas/AdminCMS/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="row">
        <div class="col-md-3">

            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Hộp thư</h3>
                    <div class="box-tools">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="@Url.Action("Index", "EmailManager", new { })"><i class="fa fa-inbox"></i> Hộp thư tổng</a></li>
                        <li><a href="@Url.Action("Index", "EmailManager", new {EmailStatus=(int)EnumCore.EmailStatus.chua_xem })"><i class="fa fa-envelope-o"></i> Thư chờ hỗ trợ</a></li>
                        <li><a href="@Url.Action("Index", "EmailManager", new {EmailStatus=(int)EnumCore.EmailStatus.da_xem })"><i class="fa fa-envelope-o"></i> Thư đã trả lời</a></li>
                    </ul>
                </div><!-- /.box-body -->
                @if (User.IsInRole("Member"))
    {
            <a href="@Url.Action("CreateNewEmail", "EmailManager", null)" class="btn btn-primary btn-block margin-bottom">Tạo mới một support</a>
}

            </div><!-- /.box-body -->


        </div><!-- /.col -->

        <div class="col-md-9">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@Model.EmailName</h3>
                </div><!-- /.box-header -->
                <div class="box-body">

                    <div class="box box-widget">
                        <div class='box-header'>
                            <div class='user-block'>
                                <img class='img-circle' src='~/Areas/AdminCMS/dist/img/user1-128x128.jpg' alt='user image'>
                                <span class='username'><a href="#">@Model.CrtdUserName</a></span>
                                <span class='description'> @Model.CrtdDT</span>
                            </div><!-- /.user-block -->

                        </div><!-- /.box-header -->
                        <div class='box-body'>
                            @Html.Raw(Model.Content)
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->

                    @foreach (EmailSupport _var in Model.lstChild)
                    {
                        if (_var.CrtdUserId == Model.CrtdUserId)
                        {
                            <div class="box box-widget">
                                <div class='box-header'>
                                    <div class='user-block'>
                                        <img class='img-circle' src='~/Areas/AdminCMS/dist/img/user1-128x128.jpg' alt='user image'>
                                        <span class='username'><a href="#">@_var.CrtdUserName</a></span>
                                        <span class='description'> @_var.CrtdDT</span>
                                    </div><!-- /.user-block -->

                                </div><!-- /.box-header -->
                                <div class='box-body'>
                                    @Html.Raw(_var.Content)
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->

                        }
                        else
                        {
                            <div class="box box-widget">
                                <div class='box-header'>
                                    <div class='user-block pull-right'>
                                        <img class='img-circle' src='~/Areas/AdminCMS/dist/img/user1-128x128.jpg' alt='user image' style="float:right">
                                        <span class='username'><a href="#">@_var.CrtdUserName</a></span>
                                        <span class='description'> @_var.CrtdDT</span>
                                    </div><!-- /.user-block -->

                                </div><!-- /.box-header -->
                                <div class='box-body'>
                                    @Html.Raw(_var.Content)
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        }
                    }

                    @if (Model.DestinationId == -1 && ( User.IsInRole("Mod") || User.IsInRole("AdminUser") || User.IsInRole("devuser") || User.IsInRole("supperadmin")))
                    {

                        <div class="box box-widget">

                            @using (Html.BeginForm("ReplyEmail", "EmailManager", FormMethod.Post, new { id = "CreateForm", enctype = "multipart/form-data", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class='box-header'>
                                    <div class='user-block '>
                                        <span class='username'>Trả lời</span>
                                    </div><!-- /.user-block -->

                                </div><!-- /.box-header -->
                                <div class='box-body'>
                                    <input type="hidden" id="EmailId" name="EmailId" value="@Model.EmailId">
                                    <textarea name="Content" id="Content" class="form-control" style="height: 300px"></textarea>
                                </div><!-- /.box-body -->
                                <div class='box-footer'>
                                    <button type="submit" class="btn btn-primary  pull-right"><i class="fa fa-envelope-o"></i> Trả lời</button>
                                </div>
                            }
                        </div>
                        <script>

                            $(function () {
                                //Add text editor
                                $("#Content").wysihtml5();
                            });
                         

                        </script>

                    }

                </div>
            </div><!-- /.box-body -->

        </div><!-- /. box -->
    </div><!-- /.col -->

</section><!-- /.content -->
