@using DataModel.DataViewModel
@using DataModel.DataEntity
@using DataModel.Extension;
@model IEnumerable<SubMenuViewModels>



@*@foreach (SubMenuViewModels _item in Model.CataList)
    {
        if (_item.lstChild.Count() > 0)
        {
            <li><a href="~/@_item.Parent.FriendlyURL"><i class="fa fa-chevron-right"></i> @_item.Parent.ClassificationNM</a></li>
        }
        else
        {
            <li><a href="~/@_item.Parent.FriendlyURL"><i class="fa fa-chevron-right"></i> @_item.Parent.ClassificationNM</a></li>
        }
    }*@


@*
    <div class="footer-v4">
        <div class="footer">
            <div class="container">
                <div class="row">

                    <div class="col-md-3 md-margin-bottom-40">

                        <a href="#"><img class="footer-logo img-responsive" src="~/Content/assets/img/logo-2.png" alt=""></a>




                        <ul class="list-unstyled address-list margin-bottom-20">
                            <li><i class="fa fa-angle-right"></i>A009 - Chung Cư CitiHome - Phường Cát Lái Quận 2 - TP.Hồ Chí Minh.</li>
                            <li><i class="fa fa-angle-right"></i>Phone: 0988824243</li>
                            <li><i class="fa fa-angle-right"></i>Email: phonglangiasi@gmail.com</li>
                        </ul>
                    </div>


                    <div class="col-md-3 col-sm-3">
                        <div class="row">
                            @foreach (SubMenuViewModels _item in Model)
                            {
                                if (_item.Parent.ClassificationId == (int)EnumCore.Classifi_Product_Cata.lan_quy_hiem)
                                {
                                    <div class="col-sm-12 col-xs-6">
                                        <h2 class="thumb-headline">@_item.Parent.ClassificationNM</h2>
                                        <ul class="list-unstyled simple-list margin-bottom-20">
                                           @foreach (Classification _val in _item.lstChild)
                                           {
                                            <li><a href="~/@_item.Parent.FriendlyURL/@_val.FriendlyURL">@_val.ClassificationNM</a></li>
                                           }
                                        </ul>
                                    </div>
                                }
                            }

                            @foreach (SubMenuViewModels _item in Model)
                            {
                                if (_item.Parent.ClassificationId == (int)EnumCore.Classifi_Product_Cata.ho_diep)
                                {
                                    <div class="col-sm-12 col-xs-6">
                                        <h2 class="thumb-headline">@_item.Parent.ClassificationNM</h2>
                                        <ul class="list-unstyled simple-list margin-bottom-20">
                                            @foreach (Classification _val in _item.lstChild)
                                            {
                                                <li><a href="~/@_item.Parent.FriendlyURL/@_val.FriendlyURL">@_val.ClassificationNM</a></li>
                                            }
                                        </ul>
                                    </div>
                                }
                            }
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <div class="row">
                            @foreach (SubMenuViewModels _item in Model)
                            {
                                if (_item.Parent.ClassificationId == (int)EnumCore.Classifi_Product_Cata.cay_giong_chai_mo)
                                {
                                    <div class="col-sm-12 col-xs-6">
                                        <h2 class="thumb-headline">@_item.Parent.ClassificationNM</h2>
                                        <ul class="list-unstyled simple-list margin-bottom-20">
                                            @foreach (Classification _val in _item.lstChild)
                                            {
                                                <li><a href="~/@_item.Parent.FriendlyURL/@_val.FriendlyURL">@_val.ClassificationNM</a></li>
                                            }
                                        </ul>
                                    </div>
                                }
                            }

                            @foreach (SubMenuViewModels _item in Model)
                            {
                                if (_item.Parent.ClassificationId == (int)EnumCore.Classifi_Product_Cata.dendro)
                                {
                                    <div class="col-sm-12 col-xs-6">
                                        <h2 class="thumb-headline">@_item.Parent.ClassificationNM</h2>
                                        <ul class="list-unstyled simple-list margin-bottom-20">
                                            @foreach (Classification _val in _item.lstChild)
                                            {
                                                <li><a href="~/@_item.Parent.FriendlyURL/@_val.FriendlyURL">@_val.ClassificationNM</a></li>
                                            }
                                        </ul>
                                    </div>
                                }
                            }
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <div class="row">

                            @foreach (SubMenuViewModels _item in Model)
                            {
                                if (_item.Parent.ClassificationId == (int)EnumCore.Classifi_Product_Cata.lan_rung)
                                {
                                    <div class="col-sm-12 col-xs-6">
                                        <h2 class="thumb-headline">@_item.Parent.ClassificationNM</h2>
                                        <ul class="list-unstyled simple-list margin-bottom-20">
                                            @foreach (Classification _val in _item.lstChild)
                                            {
                                                <li><a href="~/@_item.Parent.FriendlyURL/@_val.FriendlyURL">@_val.ClassificationNM</a></li>
                                            }
                                        </ul>
                                    </div>
                                }
                            }

                            @foreach (SubMenuViewModels _item in Model)
                            {
                                if (_item.Parent.ClassificationId == (int)EnumCore.Classifi_Product_Cata.phan_thuoc)
                                {
                                    <div class="col-sm-12 col-xs-6">
                                        <h2 class="thumb-headline">@_item.Parent.ClassificationNM</h2>
                                        <ul class="list-unstyled simple-list margin-bottom-20">
                                            @foreach (Classification _val in _item.lstChild)
                                            {
                                                <li><a href="~/@_item.Parent.FriendlyURL/@_val.FriendlyURL">@_val.ClassificationNM</a></li>
                                            }
                                        </ul>
                                    </div>
                                }
                            }

                        </div>
                    </div>




                    <!-- End Simple List -->
                </div><!--/end row-->
            </div><!--/end continer-->
        </div><!--/footer-->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            2014 &copy; Phong Lan Giá Sỉ. ALL Rights Reserved. Website được phát triển bởi
                            <a target="_blank" href="https://thuonghieuvang.net">Thương Hiệu Vàng</a>
                        </p>
                    </div>
                    <div class="col-md-6">

                        <ul class="list-inline shop-social pull-right">
                            <li><a href="#"><i class="fb rounded-md fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="tw rounded-md fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="gp rounded-md fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="yt rounded-md fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>*@


<section id="contact" class="contacts-section">
    @*<div class="container content-lg">
        <div class="title-v1">
            <h2>Contact Us</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
                It has been the industry's standard dummy text.
            </p>
        </div>
        <div class="row contacts-in">
            <div class="col-md-6 md-margin-bottom-40">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home"></i> 5B Streat, City 50987 New Town US</li>
                    <li><i class="fa fa-phone"></i> 1(800) 220 084</li>
                    <li><i class="fa fa-envelope"></i> <a href="info@example.com">info@example.com</a></li>
                    <li><i class="fa fa-globe"></i> <a href="http://htmlstream.com">www.htmlstream.com</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <form action="~/Content/assets/php/sky-forms-pro/demo-contacts-process.php" method="post" id="sky-form3" class="sky-form contact-style">
                    <fieldset>
                        <label>Name</label>
                        <div class="row">
                            <div class="col-md-7 margin-bottom-20 col-md-offset-0">
                                <div>
                                    <input type="text" name="name" id="name" class="form-control">
                                </div>
                            </div>
                        </div>
                        <label>Email <span class="color-red">*</span></label>
                        <div class="row">
                            <div class="col-md-7 margin-bottom-20 col-md-offset-0">
                                <div>
                                    <input type="text" name="email" id="email" class="form-control">
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <div class="row">
                            <div class="col-md-11 margin-bottom-20 col-md-offset-0">
                                <div>
                                    <textarea rows="8" name="message" id="message" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <p><button type="submit" class="btn-u btn-brd btn-brd-hover btn-u-dark">Send Message</button></p>
                    </fieldset>
                    <div class="message">
                        <i class="rounded-x fa fa-check"></i>
                        <p>Your message was successfully sent!</p>
                    </div>
                </form>
            </div>
        </div>
    </div>*@
    <div class="copyright-section">
        <p>2015 &copy; All Rights Reserved. Unify Theme by <a target="_blank" href="https://twitter.com/htmlstream">Htmlstream</a></p>
        <ul class="social-icons">
            <li><a href="#" data-original-title="Facebook" class="social_facebook rounded-x"></a></li>
            <li><a href="#" data-original-title="Twitter" class="social_twitter rounded-x"></a></li>
            <li><a href="#" data-original-title="Goole Plus" class="social_googleplus rounded-x"></a></li>
            <li><a href="#" data-original-title="Pinterest" class="social_pintrest rounded-x"></a></li>
            <li><a href="#" data-original-title="Linkedin" class="social_linkedin rounded-x"></a></li>
        </ul>
        <span class="page-scroll"><a href="#intro"><i class="fa fa-angle-double-up back-to-top"></i></a></span>
    </div>
</section>