@using DataModel.Extension
@using DataModel.DataEntity;
@using DataModel.DataViewModel;
@model IEnumerable<SubMenuViewModels>

@*<li><a href="@Url.Action("Index", "News", new { CataFriendlyUrl = "huong-dan", id = (int)EnumCore.Classification.huong_dan })">Hướng dẩn</a></li>
                        <li><a href="@Url.Action("Index", "News", new { CataFriendlyUrl = "bai-viet", id = (int)EnumCore.Classification.tin_tuc })">Tin tức Biker</a></li>
                        <li><a href="@Url.Action("Contact", "Home")">Liên hệ</a></li>


    @Url.Action("Index","Home")

             @Url.Action("Index","Home")

               @Url.Action("Index", "Home")
                        @Url.Action("About", "Home")

                   @Url.Action("Contact", "Home")*@



@*
        <div class="header-v5 header-static">
        <!-- Topbar v3 -->
        <div class="topbar-v3">
            <div class="search-open">
                <div class="container">
                    <input type="text" class="form-control" placeholder="Tìm kiếm">
                    <div class="search-close"><i class="icon-close"></i></div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-6">

                        <ul class="left-topbar">
                            <li>
                                <a>Hotline : 0988824243</a>

                            </li>
                            <li>
                                <a>Language (EN)</a>

                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">

                        <ul class="list-inline right-topbar pull-right">
                            <li><a href="#"><i class="fb rounded-md fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="tw rounded-md fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="gp rounded-md fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="yt rounded-md fa fa-youtube"></i></a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="navbar navbar-default mega-menu" role="navigation">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img id="logo-header" src="~/Content/assets/img/logo.png" alt="Logo">
                    </a>
                </div>


                <div class="collapse navbar-collapse navbar-responsive-collapse">


                    <ul class="nav navbar-nav">

                        <li class="dropdown active">
                            <a href="~/" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                                TRANG CHỦ
                            </a>

                        </li>

                        <li class="dropdown mega-menu-fullwidth">
                            <a href="~/tin-tuc/gioi-thieu-1/gioi-thieu-phong-lan-gia-si-11.html" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                                GIỚI THIỆU
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="mega-menu-content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-12 col-xs-12 md-margin-bottom-30">
                                                    <h3 class="mega-menu-heading">Phong Lan Giá Sỉ</h3>
                                                    <p>
                                                        Với mong muốn phát triển thương hiệu sản phẩm bằng nội lực,
                                                        Phong Lan Giá Sỉ đã chú trọng vào chất lượng và giá cả của sản phẩm.
                                                        Sản phẩm của Phong Lan Giá Sỉ thường xuyên được cập nhật mặt hàng
                                                        và cập nhật giá cả, liên tục cung cấp cho khách hàng các sản phẩm chất
                                                        lượng và rẻ nhất.Phong Lan Giá Sỉ luôn phù hợp với mọi nhu cầu của khách hàng
                                                        đem đến sự hài lòng tuyệt đối cho khách hàng. Sản phẩm được bán và giao hàng toàn quốc.
                                                    </p>
                                                    <button type="button" class="btn-u btn-u-dark">Chi tiết</button>
                                                </div>
                                                <div class="col-md-3 col-sm-4 col-xs-4 md-margin-bottom-30">
                                                    <a href="#"><img class="product-offers img-responsive" src="~/Content/assets/img/blog/01.jpg" alt=""></a>
                                                </div>
                                                <div class="col-md-3 col-sm-4 col-xs-4 sm-margin-bottom-30">
                                                    <a href="#"><img class="product-offers img-responsive" src="~/Content/assets/img/blog/02.jpg" alt=""></a>
                                                </div>
                                                <div class="col-md-3 col-sm-4 col-xs-4">
                                                    <a href="#"><img class="product-offers img-responsive" src="~/Content/assets/img/blog/03.jpg" alt=""></a>
                                                </div>
                                            </div><!--/end row-->
                                        </div><!--/end container-->
                                    </div><!--/end mega menu content-->
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown mega-menu-fullwidth">
                            <a href="~/san-pham" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                                SẢN PHẨM
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="mega-menu-content">
                                        <div class="container">
                                            <div class="row">
                                                @foreach (SubMenuViewModels _item in Model)
                                                {
                                                    <div class="col-md-2 col-sm-6">

                                                        <h3 class="mega-menu-heading"><a href="~/@_item.Parent.FriendlyURL">@_item.Parent.ClassificationNM</a></h3>
                                                        <ul class="list-unstyled style-list">
                                                            @foreach (Classification _val in _item.lstChild)
                                                            {
                                                                <li><a href="~/@_item.Parent.FriendlyURL/@_val.FriendlyURL">@_val.ClassificationNM</a></li>

                                                            }
                                                        </ul>
                                                        </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="~/chinh-sach-hoat-dong" data-target="~/chinh-sach-hoat-dong" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-delay="1000">
                                HOẠT ĐỘNG
                            </a>

                        </li>

                        <li class="dropdown">
                            <a href="~/tin-tuc/bai-viet-10815" data-target="~/tin-tuc/bai-viet-10815" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-delay="1000">
                                BÀI VIẾT
                            </a>

                        </li>


                        <li class="dropdown">
                            <a href="~/lien-he" data-target="~/lien-he" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-delay="1000">
                                LIÊN HỆ
                            </a>

                        </li>

                    </ul>

                </div>
            </div>
        </div>
        <!-- End Navbar -->
    </div>

*@



<nav class="one-page-header navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="menu-container page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#intro">
                <span>U</span>nify
                <!-- <img src="~/Content/assets/img/logo1.png" alt="Logo"> -->
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <div class="menu-container">
                <ul class="nav navbar-nav">
                    <li class="page-scroll home">
                        <a href="#body">WHO WE ARE</a>
                    </li>
                    @*<li class="page-scroll">
                        <a href="#about">ABOUt US</a>
                    </li>*@
                    <li class="page-scroll">
                        <a href="#services">CRYPTOCURRENCY</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#trading">TRADING</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#opportunity">OPPORTUNITY</a>
                    </li>
                    @*<li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>*@
                    <li class="page-scroll">
                        <a href="../index.html">Main</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>