@using DataModel.DataViewModel
@using DataModel.DataEntity

@model RightSliderBarViewModel

<div class="col-sm-3 aside-main">
    @*<div class="widget-main">
        <div class="widget-main-body">
            <form role="search" method="get" id="searchform" action="/">
                <input type="text" value="" name="s" id="s" placeholder="Search entire store here..." />
                <button class="fa fa-search" type="submit" id="searchsubmit"></button>
            </form>
        </div>
    </div>*@
    <div class="widget-main">
        <h5 class="widget-main-title">Ưu đãi đặc biệt</h5>
        <div class="widget-main-body">
            <div class="col-sm-12">
                <div class="beta-slider">
                    <div class="beta-pager">





                        <a data-slide-index="0" href=""><span class="beta-pager-item"></span></a>
                        <a data-slide-index="1" href=""><span class="beta-pager-item"></span></a>
                        <a data-slide-index="2" href=""><span class="beta-pager-item"></span></a>
                    </div>

                    <div class="beta-slider-items">
                        @foreach (HomeSliderPartialViewModel _val in Model.HomeSlider)
                        {
                            <img src="~/@_val.MediaUrl" alt="">

                        }
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="space20">&nbsp;</div>


    <div class="widget-main">
        <h5 class="widget-main-title">Danh mục sản phẩm</h5>
        <div class="widget-main-body">
            <ul>
                @foreach (SubMenuViewModels _item in Model.CataList)
                {
                    if (_item.lstChild.Count() > 0)
                    {
                        <li><a href="~/@_item.Parent.FriendlyURL">@_item.Parent.ClassificationNM</a></li>
                        @*<li>
                                <a href="#">@_item.Parent.ClassificationNM</a>
                                <div class="wrap-popup">
                                    <div class="popup">
                                        <div class="row">
                                            <div class="col-md-3 has-sep">
                                                <ul class="nav">
                                                    @foreach (Classification _val in _item.lstChild)
                                                    {
                                                        <li><a href="~/@_item.Parent.FriendlyURL/@_val.FriendlyURL">@_val.ClassificationNM</a></li>}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>*@
                    }
                    else
                    {
                        <li><a href="~/@_item.Parent.FriendlyURL">@_item.Parent.ClassificationNM</a></li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="widget">
        <h3 class="widget-title">Sản phẩm xem nhiều</h3>
        <div class="widget-body">
            <div class="beta-sales beta-lists">
                @foreach (ProductItemViewModel _item in Model.LstProductViewMore)
                {
                    string prefixlink = _item.Obicate.FriendlyURL;
                    if (_item.Obicate.ObjPrent != null)
                    {
                        prefixlink = _item.Obicate.ObjPrent.FriendlyURL + "/" + prefixlink;
                    }

                    <div class="media beta-sales-item">
                        <a class="pull-left" href="~/@prefixlink/@_item.ObiProduct.FriendlyURL"><img src="~/@_item.ObiProduct.MediaThumb" alt="@_item.ObiProduct.ProductName"></a>
                        <div class="media-body">
                            <a href="~/@prefixlink/@_item.ObiProduct.FriendlyURL"> @_item.ObiProduct.ProductName</a>
                            <span class="beta-sales-price">@_item.ObiProduct.NewPrice</span>
                        </div>
                    </div>

                }

            </div>
        </div>
    </div> <!-- best sellers widget -->

    @*<div class="widget-main">
        <h5 class="widget-main-title">Địa điểm phổ biến</h5>
        <div class="widget-main-body">
            <div class="beta-tags">
                <a href="blog_fullwidth_2col.html">Amazing</a>
                <a href="blog_fullwidth_2col.html">Design</a>
                <a href="blog_fullwidth_2col.html">Themes</a>
                <a href="blog_fullwidth_2col.html">Clean</a>
                <a href="blog_fullwidth_2col.html">Responsiveness</a>
                <a href="blog_fullwidth_2col.html">Creative</a>
                <a href="blog_fullwidth_2col.html">Brands</a>
                <a href="blog_fullwidth_2col.html">Seo</a>
                <a href="blog_fullwidth_2col.html">Life</a>
                <a href="blog_fullwidth_2col.html">Minimal</a>
            </div>
        </div>
    </div>*@

   

 
    @*<div class="widget-main">
        <h5 class="widget-main-title">Archives</h5>
        <div class="widget-main-body">
            <ul>
                <li><a href="blog_fullwidth_4col.html">May</a></li>
                <li><a href="blog_fullwidth_4col.html">February</a></li>
                <li><a href="blog_fullwidth_4col.html">January</a></li>
                <li><a href="blog_fullwidth_4col.html">December</a></li>
                <li><a href="blog_fullwidth_4col.html">October</a></li>
            </ul>
        </div>
    </div>*@
</div>