
    @using Microsoft.AspNet.Identity
    @using DataModel.DataEntity;
    @using DataModel.Extension;
    @using PagedList;
    @using PagedList.Mvc;
    @using DataModel.DataViewModel;
    @model IndexCyptoPriceManager
    @{
        ViewBag.Title = "Index";
        Layout = "~/Areas/AdminCMS/Views/Shared/_Layout.cshtml";
    }


    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title">DANH SÁCH COIN</h2>
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        <div class="form-group col-md-4">
                            <a href="@Url.Action("Index", "CyptoItemManager", new { letter = "a",  page = Model.page,status=Model.status })" class="label label-primary">A</a> |
                            <a href="@Url.Action("Index", "CyptoItemManager", new { letter = "b",  page = Model.page,status=Model.status})" class="label label-primary">B</a> |
                            <a href="@Url.Action("Index", "CyptoItemManager", new { letter = "c",  page = Model.page,status=Model.status })" class="label label-primary">C</a> |
                            <a href="@Url.Action("Index", "CyptoItemManager", new { letter = "d",  page = Model.page,status=Model.status })" class="label label-primary">D</a> |
                            <a href="@Url.Action("Index", "CyptoItemManager", new { letter = "e",  page = Model.page,status=Model.status })" class="label label-primary">E</a> |
                            <a href="@Url.Action("Index", "CyptoItemManager", new { letter = "f",  page = Model.page,status=Model.status})" class="label label-primary">F</a> |
                            <a href="@Url.Action("Index", "CyptoItemManager", new { letter = "g",  page = Model.page,status=Model.status })" class="label label-primary">G</a> |
                            <a href="@Url.Action("Index", "CyptoItemManager", new { letter = "h",  page = Model.page,status=Model.status })" class="label label-primary">H</a> |
                            <a href="@Url.Action("Index", "CyptoItemManager", new { letter = "i",  page = Model.page,status=Model.status })" class="label label-primary">I</a> |
                            <a href="@Url.Action("Index", "CyptoItemManager", new { letter = "j",  page = Model.page,status=Model.status})" class="label label-primary">J</a> |
                            <a href="@Url.Action("Index", "CyptoItemManager", new { letter = "k",  page = Model.page,status=Model.status })" class="label label-primary">K</a> |
                            <a href="@Url.Action("Index", "CyptoItemManager", new { letter = "l",  page = Model.page,status=Model.status})" class="label label-primary">L</a> |
                            <a href="@Url.Action("Index", "CyptoItemManager", new { letter = "m",  page = Model.page,status=Model.status})" class="label label-primary">M</a> |
                            <a href="@Url.Action("Index", "CyptoItemManager", new { letter = "n",  page = Model.page,status=Model.status })" class="label label-primary">N</a> |
                            <a href="@Url.Action("Index", "CyptoItemManager", new { letter = "o",  page = Model.page,status=Model.status })" class="label label-primary">O</a> |
                            <a href="@Url.Action("Index", "CyptoItemManager", new { letter = "p",  page = Model.page,status=Model.status})" class="label label-primary">P</a> |
                            <a href="@Url.Action("Index", "CyptoItemManager", new { letter = "q",  page = Model.page,status=Model.status })" class="label label-primary">Q</a> |
                            <a href="@Url.Action("Index", "CyptoItemManager", new { letter = "r",  page = Model.page,status=Model.status })" class="label label-primary">R</a> |
                            <a href="@Url.Action("Index", "CyptoItemManager", new { letter = "s",  page = Model.page,status=Model.status })" class="label label-primary">S</a> |
                            <a href="@Url.Action("Index", "CyptoItemManager", new { letter = "t",  page = Model.page,status=Model.status })" class="label label-primary">T</a> |
                            <a href="@Url.Action("Index", "CyptoItemManager", new { letter = "u",  page = Model.page,status=Model.status})" class="label label-primary">U</a> |
                            <a href="@Url.Action("Index", "CyptoItemManager", new { letter = "v",  page = Model.page,status=Model.status})" class="label label-primary">V</a> |
                            <a href="@Url.Action("Index", "CyptoItemManager", new { letter = "x",  page = Model.page,status=Model.status })" class="label label-primary">X</a> |
                            <a href="@Url.Action("Index", "CyptoItemManager", new { letter = "y",  page = Model.page,status=Model.status })" class="label label-primary">Y</a> |
                            <a href="@Url.Action("Index", "CyptoItemManager", new { letter = "z",  page = Model.page,status=Model.status })" class="label label-primary">Z</a>
                        </div>

                        <div class="form-group col-md-4">
                            <a href="@Url.Action("DoUpdatePriceTicker", "CyptoItemManager")" class="label label-primary">Cập nhật thủ công</a> |
                         </div>

                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <th>Tên</th>
                                    <th>Mã</th>
                                    <th>Ngày cập nhật</th>
                                    <th>Gía USD</th>
                                    <th>Gía BTC</th>
                                    <th>Cập nhật</th>

                                </tr>
                                @foreach (CyptoItemPrice _item in Model.lstMainCypto)
            {
                    <tr>
                        <td>@_item.id</td>
                        <td>@_item.name </td>
                        <td>@_item.symbol</td>
                        <td>@_item.CyptoItemPriceUpdate</td>
                        <td> @_item.USD_price </td>
                        <td> @_item.BTC_price </td>
                        <td>

                            <a href="@Url.Action("EditCyptoPrice", "CyptoItemManager",new { CyptoItemPriceId = _item.CyptoItemPriceId })" class="label label-primary">Cập nhật giá</a>
                        
                        </td>
                    </tr>
}

                            </tbody>
                        </table>

                    </div><!-- /box-body -->

                    <div class="box-footer clearfix">
                        @if (Model.lstMainCypto.PageCount > 1)
                        {
                            @Html.PagedListPager(Model.lstMainCypto, page => Url.Action("IndexCyptoPrice", new
                            {
                                page
                            }))
                        }
                    </div>

                </div><!-- /.box -->
                <!-- Form Element sizes -->

            </div><!--/.col (left) -->
            <!-- right column -->

        </div>   <!-- /.row -->
    </section>


