@using DataModel.DataViewModel;
@using DataModel.Extension;
@model ProfileViewModel
@{
    ViewBag.Title = "Trang thông tin cá nhân";
}
<link href="~/Content/Jcrop-v0.9.12/css/jquery.Jcrop.min.css" rel="stylesheet" />
<script src="~/Content/Jcrop-v0.9.12/js/jquery.Jcrop.min.js"></script>

<script src="~/Content/file-upload/jquery.fileupload.js"></script>
<script src="~/Content/file-upload/jquery.fileupload-ui.js"></script>
<script src="~/Content/file-upload/jquery.iframe-transport.js"></script>
<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        top: 10%;
        left: 10%;
        width: 80%; /* Full width */
        height: 80%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background: white;
        z-index: 100;
        border: 1px solid;
        padding: 5px;
        cursor: move;
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
    }

    /* Add Animation */
    @@-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }

        to {
            top: 0;
            opacity: 1;
        }
    }

    @@keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }

        to {
            top: 0;
            opacity: 1;
        }
    }

    .modal-header {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
        cursor: move;
    }

    .modal-body {
        padding: 2px 16px;
    }

    .modal-footer {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }

    .crop-image {
        width: 1200px;
        height: 900px;
        overflow: auto;
    }
</style>
<script type="text/javascript">

        //************************************** JavaScript for ajax file upload **************************************
        var jqXHRData;

        $(document).ready(function () {

            'use strict';

            $('#fu-my-simple-upload').change(function () {
                var file = this.files[0];
                var form = new FormData();
                form.append('file', file);
                $.ajax({
                    url: '@Url.Action("UpdatePhotoUser", "Account")',
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    data: form,
                    success: function (result) {
                        if (result) {
                            var reader = new FileReader();
                            reader.onload = function (rs) {
                                var obj = jQuery.parseJSON(result);
                                $("#hf-uploaded-image-path").val("/" + obj.photo_url);

                                destroyCrop();

                                $("#uploaded-image").attr("src", "/" + obj.photo_url + "?t=" + new Date().getTime());

                                //Reload user photo
                                $("#user_photo").attr("src", "/" + obj.photo_url + "?t=" + new Date().getTime());
                                $(".infor-img-user").attr("src", "/" + obj.photo_url + "?t=" + new Date().getTime());

                                initCrop();

                                // Get the modal
                                var modal = document.getElementById('crop-image-area');

                                // Get the <span> element that closes the modal
                                var span = document.getElementsByClassName("close")[0];

                                modal.style.display = "block";

                                // When the user clicks on <span> (x), close the modal
                                span.onclick = function () {
                                    modal.style.display = "none";
                                }
                                $("#crop-image-area").draggable().resizable();
                                $("#crop-image-area").fadeIn("slow");
                            }
                            reader.readAsDataURL(file);
                        } else {
                            alert('cập nhật ảnh không thành công');
                        }
                    }, error: function (error) {
                        alert('Không thể kết nối đến server');
                    }
                });
            });
        });

        $("#hl-start-upload").on('click', function () {
            if (jqXHRData) {
                jqXHRData.submit();
            }
            return false;
        });
        //************************************** JavaScript for ajax file upload END **************************************




        //************************************** JavaScript for cropping of image *****************************************
        var imageCropWidth = 0;
        var imageCropHeight = 0;
        var cropPointX = 0;
        var cropPointY = 0;

        function initCrop() {
            $('#uploaded-image').Jcrop({
                onChange: setCoordsAndImgSize,
                aspectRatio: 1
            });
        }

        function destroyCrop() {
            var jcropApi = $('#uploaded-image').data('Jcrop');

            if (jcropApi !== undefined) {
                jcropApi.destroy();
                $('#uploaded-image').attr('style', "").attr("src", "");
            }
        }

        function setCoordsAndImgSize(e) {

            imageCropWidth = e.w;
            imageCropHeight = e.h;

            cropPointX = e.x;
            cropPointY = e.y;
        }

        function cropImage() {
            if (imageCropWidth == 0 && imageCropHeight == 0) {
                alert("Please select crop area.");
                return;
            }

            $.ajax({
                url: '@Url.Action("CropImage", "Account")',
                type: 'POST',
                data: {
                    imagePath: $("#hf-uploaded-image-path").val(),
                    cropPointX: cropPointX,
                    cropPointY: cropPointY,
                    imageCropWidth: imageCropWidth,
                    imageCropHeight: imageCropHeight
                },
                success: function (data) {
                    var obj = jQuery.parseJSON(data);
                    $("#hf-cropped-image-path").val("/" + obj.photo_url);

                    $("#my-cropped-image")
                        .attr("src", "/" + obj.photo_url + "?t=" + new Date().getTime())
                        .show();

                    //Reload user photo
                    $("#user_photo")
                        .attr("src", "/" + obj.photo_url + "?t=" + new Date().getTime())
                        .show();
                    $(".infor-img-user")
                        .attr("src", "/" + obj.photo_url + "?t=" + new Date().getTime())
                        .show();

                    $("#btn-my-submit").fadeIn("slow");
                    $("#hl-close-image").click();
                },
                error: function (data) { }
            });

            return false;
        }

        $("#btn_click_change_img").click(function () {
            $("#fu-my-simple-upload").trigger('click');
        });
        //************************************** JavaScript for cropping of image END **************************************

</script>
<div class="row">
    <div class="width_1200">
        <div class="order_header">
            @*<div class="order_header_icon">

                </div>*@
        </div>

        <div class="status-orders-block">
            <div class="status-orders-left">
                <div class="col-md-12">
                    <img src="/@Model.ImgUrl" id="user_photo" onerror="if (check_img_avartar) { this.src = '/Media/no_photo.png'; check_img_avartar = false; }" style="max-width:98%;" alt="@Model.FullName" />
                    @using (Html.BeginForm("UpdatePhotoUser", null, FormMethod.Post, new { id = "form_update_photo_user", style = "margin-top:30px;" }))
                    {
                        @Html.Hidden("UploadedImagePath", string.Empty, new { id = "hf-uploaded-image-path" })
                        @Html.HiddenFor(m => m.CroppedImagePath, new { id = "hf-cropped-image-path" })

                        <p style="display:none">@Html.TextBoxFor(m => m.MyFile, new { id = "fu-my-simple-upload", type = "file" })</p>
                        <a class="btn btn-danger" id="btn_click_change_img" style="margin: 0px; cursor: pointer; border: 1px solid; border-radius: 4px; background: #dddddd; color: black;">
                            Chỉnh sửa ảnh đại diện
                        </a>

                        <!-- The Crop Image Modal -->
                        <div id="crop-image-area" class="modal" style="display:none;">
                            <p>
                                <a href="#" id="hl-crop-image" onclick="return cropImage();" style="border: 1px #03456D solid; border-radius: 4px; margin-left: 5px;" class="btn btn-default">Crop Image</a>
                                <a href="#" id="hl-close-image" style="border: 1px #03456D solid; border-radius: 4px; margin-left: 5px;" class="close btn btn-default">Close</a>
                            </p>
                            <img id="uploaded-image" style="margin: 5px;" src="#" />
                        </div>
                    }
                    @using (Html.BeginForm("UpdatePasswordUser", null, FormMethod.Post, new { id = "formUP", style = "margin-top:30px;" }))
                    {
                        <div class="form-group" style="margin-bottom:15px;">
                            @*<label class="control-label col-md-12">Mật Khẩu cũ</label>*@
                            <input type="password" name="oldP" id="oldP" class="form-control" value="" placeholder="Nhập mật Khẩu cũ" />
                        </div>
                        <div class="form-group" style="margin-bottom:15px;">
                            @*<label class="control-label col-md-12">Mật Khẩu mới</label>*@
                            <input type="password" name="newP" id="newP" class="form-control" value="" placeholder="Nhập mật khẩu mới" />
                        </div>
                        <div class="form-group" style="margin-bottom:15px;">
                            @*<label class="control-label col-md-12">Xác nhận mật Khẩu</label>*@
                            <input type="password" name="newPCom" id="newPCom" class="form-control" value="" placeholder="Xác nhận mật Khẩu" />
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-success col-md-12" style="margin: 0px; cursor: pointer; border: 1px solid; border-radius: 4px; background: #dddddd; color: black;" value="Đổi mật khẩu">
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="status-orders-right">
                <div class="box-status">
                    <div class="tl">Thông tin tài khoản</div>
                    <div class="cont">
                        <div class="box-steps">
                            @using (Html.BeginForm("Profile", "Account"))
                            {
                                @Html.ValidationSummary(false)
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(x => x.Id)
                                <table class="table-show-order">
                                    <tr>
                                        <th>Tên tài khoản login</th>
                                        <td>
                                            <span>@Model.Login</span>
                                            <div class="form-group" style="display:none;">
                                                @Model.Login
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Họ và tên người dùng</th>
                                        <td>
                                            <span>@Model.FullName</span>
                                            <div class="form-group" style="display:none;">
                                                @Html.TextBoxFor(x => x.FullName, new { @class = "form-control" })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>
                                            <span>@Model.EMail</span>
                                            <div class="form-group" style="display:none;">
                                                @Html.TextBoxFor(x => x.EMail, new { @class = "form-control" })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Số điện thoại</th>
                                        <td>
                                            <span>@(Model.PhoneNumber ?? "Chưa cập nhật thông tin")</span>
                                            <div class="form-group" style="display:none;">
                                                @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
                                            </div>
                                        </td>
                                    </tr>

                                 
                                    <tr>
                                        <th>Giới tính</th>
                                        <td>
                                            <span>@(Model.GenderId == (int)EnumCore.Classification.gioi_tinh_nam ? "Nam" : (Model.GenderId == (int)EnumCore.Classification.gioi_tinh_nu ? "Nữ" : "Khác"))</span>
                                            <div class="form-group" style="display:none;">
                                                Nam @Html.RadioButtonFor(x => x.GenderId, (int)EnumCore.Classification.gioi_tinh_nam)
                                                Nữ @Html.RadioButtonFor(x => x.GenderId, (int)EnumCore.Classification.gioi_tinh_nu)
                                                Khác @Html.RadioButtonFor(x => x.GenderId, (int)EnumCore.Classification.gioi_tinh_khac)
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Ngày sinh</th>
                                        <td>
                                            <span>@(Model.BirthDay == null ? "Chưa cập nhật thông tin" : Model.BirthDay.Value.ToString("dd-MM-yyyy"))</span>
                                            <div class="form-group" style="display:none;">
                                                @Html.TextBoxFor(x => x.BirthDay, "{0:MM/dd/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </td>
                                    </tr>
                             
                             
                                  
                               
                                    <tr>
                                        <td colspan="2">
                                            <a href="javascript:;" style="display: block;border: 1px #03456D solid;border-radius: 4px;margin-right: 50px;float: right; padding-bottom: 0px;" class="btn btn-info col-md-3" id="edit-info"> Cập nhật thông tin </a>
                                            <button class="btn btn-info col-md-3" type="submit" style="display:none;border: 1px #03456D solid;border-radius: 4px; margin-right: 50px; float: right; background:#fff; color:#03456D;font-weight:600;cursor: pointer;"> Lưu </button>
                                            <a class="btn btn-danger col-md-3" id="cancel-save" href="javascript:;" style="display:none;border-radius: 4px;border: 1px #03456D solid; margin-right: 60px; float: right; background:#fff; height:16px"> Huỷ </a>
                                        </td>
                                    </tr>
                                </table>
                            }
                        </div>
                    </div>
                </div>
                <div class="box-status">
                    <div class="tl"></div>
                    <div class="cont">
                        <a href="@Url.Action("LisOrderCustomer", "Order")" id="LisOrderCustomer">Danh sách đơn hàng đã đặt</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{

    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/datepicker-vi.js"></script>
    <script type="text/javascript">
        var check_img_avartar = true;
        $("form#formUP").validate({
            rules: {
                oldP: {
                    required: true,
                    maxlength: 50,
                    minlength: 6,
                    regx: /^[\w]{8,50}$/
                },
                newP: {
                    required: true,
                    maxlength: 50,
                    minlength: 6,
                    regx: /^[\w]{8,50}$/
                },
                newPCom: {
                    required: true,
                    maxlength: 50,
                    minlength: 6,
                    equalTo: '#newP',
                    regx: /^[\w]{8,50}$/
                }
            },
            messages: {
                oldP: {
                    required: 'Không được bỏ trống',
                    maxlength: 'Tối đa {0} ký tự',
                    minlength: 'Tối thiểu {0} ký tự'
                },
                newP: {
                    required: 'Không được bỏ trống',
                    maxlength: 'Tối đa {0} ký tự',
                    minlength: 'Tối thiểu {0} ký tự'
                },
                newPCom: {
                    required: 'Không được bỏ trống',
                    maxlength: 'Tối đa {0} ký tự',
                    minlength: 'Tối thiểu {0} ký tự',
                    equalTo: 'Mật khẩu không trùng khớp'
                }
            }
        });
        $(document).ready(function () {
            //$.datepicker.setDefaults($.extend($.datepicker.regional.vi));
            $("#BirthDay").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'mm/dd/yy',
                defaultDate: '01/01/1970',
                yearRange: "-100:+0"
            });
            $(".xt_effect_gianhang").click(function () {
                //console.log($('.list_gian_hang').css("margin-right"));
                if ($('.list_gian_hang').css("margin-right") == "0px") {
                    $('.list_gian_hang').animate({
                        'margin-right': '1200px',
                        opacity: '0.5',
                    }, { duration: 2000 });
                    $('.list_gian_hang').animate({
                        'margin-right': '-1002px',
                        opacity: '1',
                    }, { duration: 0 });
                    $('.list_gian_hang').animate({
                        'margin-right': '0px',
                        //opacity: '1',
                    }, { duration: 2000 });
                }

            });
            $("#edit-info").click(function () {
                $("table tr td>span, #edit-info").css("display", "none");
                $("table button,#cancel-save,table td div").css('display', "block");
            });
            $("#cancel-save").click(function () {
                $("table tr td>span, #edit-info").css("display", "block");
                $("table button,#cancel-save,table td div").css('display', "none");
            });
            $("#btn_click_change_img").click(function () {
                $("input[type=file]").click();
            });
            $.validator.addMethod("regx", function (value, element, regexpr) {
                return regexpr.test(value);
            }, "Chưa đúng định dạng.");
            @*$("input[type=file]").change(function () {
                var file = this.files[0];
                var form = new FormData();
                form.append('file', file);
                $.ajax({
                    url: '@Url.Action("UpdatePhotoUser", "Account")',
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    data: form,
                    success: function (result) {
                        if (result) {
                            var reader = new FileReader();
                            reader.onload = function (rs) {
                                $("#file_review").attr('src', rs.target.result);
                            }
                            reader.readAsDataURL(file);
                            location.reload();
                        } else {
                            alert('cập nhật ảnh không thành công');
                        }
                    }, error: function (error) {
                        alert('Không thể kết nối đến server');
                    }
                });
            });*@
            $("form#formUP").submit(function (e) {
                e.preventDefault();
                if ($('form#formUP').valid()) {
                    $.post('@Url.Action("UpdatePasswordUser", "Account")?' + $(this).serialize(), {}, function (result) {
                        if (result) {
                            $("#formUP input[type=password]").val('');
                        } else {
                            alert('cập nhật mật khẩu không thành công');
                        }
                    });
                } else {
                    alert('Kiểm tra lại thông tin');
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            var range__slider = $(".range__slider").eq(0).width();
            console.log(range__slider);
            var per_1 = 21 / 100 * range__slider;
            var per_2 = 85 / 100 * range__slider;
            $(".range__slider__left").css("left", per_1);
            $(".range__slider__right").css("left", per_2);
            $(".range__slider__gap").css("left", per_1);
            $(".range__slider__gap").css("width", (per_2 - per_1));
        });
    </script>
}
<style>
    .san-pham-home {
        width: 100%;
        height: 150px;
        background: #00AEEF;
        text-align: center;
        font-weight: bold;
        color: black;
        padding-top: 70px;
        font-size: 39px;
    }

    .news-home {
        width: 100%;
        height: 150px;
        background: orange;
        text-align: center;
        font-weight: bold;
        color: black;
        padding-top: 70px;
        font-size: 39px;
    }

    #LisOrderCustomer {
        display: block;
        border: 1px #03456D solid;
        border-radius: 4px;
        margin-right: 50px;
        float: right;
        padding: 8px;
        color: #03456D;
        font-weight: 600;
    }

        #LisOrderCustomer:hover {
            text-decoration: underline;
        }
</style>
