@using Microsoft.AspNet.Identity
@using DataModel.DataEntity;
@using DataModel.DataViewModel;
@model ProfileViewModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Areas/AdminCMS/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">

        <div class="col-md-3">
            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="~/Areas/AdminCMS/dist/img/user1-128x128.jpg" alt="User profile picture">
                    <h3 class="profile-username text-center">@Model._ModelObj.FullName</h3>
                    <p class="text-muted text-center">Member</p>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Email</b> <a class="pull-right">@Model._ModelObj.EMail</a>
                        </li>
                    </ul>

                    <strong><i class="fa fa-pencil margin-r-5"></i> Gói cước đang sử dụng</strong>
                    <p>
                        @if (String.IsNullOrEmpty(Model._ModelObj.PackageName))
                        {
                            <span class="label label-danger">Free</span>
                        }
                        else
                        {
                            <span class="label label-danger">@Model._ModelObj.PackageName</span>
                        }


                    </p>
                    <hr>
                    <strong><i class="fa fa-map-marker margin-r-5"></i> Ngày hết hạn</strong>
                    @if (Model._ModelObj.ExpiredDay == null)
                    {
                        <span class="label label-danger">Vĩnh Viễn</span>
                    }
                    else
                    {
                        <p class="text-muted">@Model._ModelObj.ExpiredDay</p>
                    }


                    <hr>
                    <strong><i class="fa fa-file-text-o margin-r-5"></i> Ghi chú</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                    <hr>
                    <a href="@Url.Action("FrontEndIndex", "PackageManager")" class="btn btn-primary btn-block"><b> Nâng cấp</b></a>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <!-- left column -->
        <div class="col-md-9">
            <!-- general form elements -->
            <div class="box box-primary">

                <div class="box-body">
                    <!-- /.box -->
                    @using (Html.BeginForm("Profile", "AccountAdmin", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        @Html.HiddenFor(s => s.Id)

                        <div class="col-md-8">
                            <div class="form-group col-md-12">
                                <label for="exampleInputEmail1">Tên Đăng Nhập</label>

                                @Html.TextBoxFor(m => m.Login, new { @class = "form-control", @readonly = "readonly" })
                            </div>

                            <div class="form-group col-md-12">
                                <label for="exampleInputEmail1">Email</label>
                                @Html.TextBoxFor(m => m.EMail, new { @class = "form-control", @readonly = "readonly" })
                            </div>

                            <div class="form-group col-md-12">
                                <label for="exampleInputEmail1">Tên Hiển thị </label>
                                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", placeholder = "Họ Và Tên" })
                            </div>


                            <div class="form-group col-md-12">
                                <label>Ngày Sinh:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
                                </div><!-- /.input group -->
                            </div>
                            <div class="form-group col-md-12">
                                <label for="exampleInputEmail1">Số Điện Thoại</label>
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Số Điện Thoại" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(m => m.GenderList, new { @class = "control-label" })
                                @Html.DropDownListFor(c => c.GenderId, Model.GenderList as SelectList,  new { @class = "form-control" })
                            </div>
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-primary">Cập Nhật</button>
                            </div>
                        </div><!-- /.box-body -->



                        <div class="col-md-4">

                            <div class="form-group">
                                <label for="exampleInputFile">Hình đại diện</label>
                                <input type="file" id="Imgfiles" name="Imgfiles" value="Chọn hình">

                            </div>
                            <div class="form-group">
                                <p class="help-block">Hình đại diện</p>
                            </div>
                            <div class="form-group imgboxdata">
                                @if (String.IsNullOrEmpty(Model.ImgUrl))
                                {

                                    <img class="img-responsive" src="~/Areas/AdminCMS/dist/img/user1-128x128.jpg" alt="User Image" id="blah">
                                }
                                else
                                {

                                    <img class="img-responsive" src="~/@Model.ImgUrl" alt="User Image" id="blah">
                                }
                            </div>

                        </div><!-- /.box-body -->
                    }
                </div><!-- /.box -->
            </div><!-- /.box -->
            <!-- Form Element sizes -->

        </div><!--/.col (left) -->
    </div>   <!-- /.row -->
</section>

<script>
    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();

        //Datemask dd/mm/yyyy
        $("#datemask").inputmask("dd/mm/yyyy", { "placeholder": "dd/mm/yyyy" });
        //Datemask2 mm/dd/yyyy
        $("#datemask2").inputmask("mm/dd/yyyy", { "placeholder": "mm/dd/yyyy" });
        //Money Euro
        $("[data-mask]").inputmask();

        //Date range picker
        $('#reservation').daterangepicker();
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' });
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: moment().subtract(29, 'days'),
                endDate: moment()
            },
            function (start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }
        );

        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        });
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-red',
            radioClass: 'iradio_minimal-red'
        });
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });

        //Colorpicker
        $(".my-colorpicker1").colorpicker();
        //color picker with addon
        $(".my-colorpicker2").colorpicker();

        //Timepicker
        $(".timepicker").timepicker({
            showInputs: false
        });
    });
</script>

<script>
    $(document).ready(function () {

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#Imgfiles").change(function () {
            readURL(this);
        });


    });

</script>