@using Microsoft.AspNet.Identity
@using DataModel.DataEntity;
@using DataModel.Extension;
@using PagedList;
@using PagedList.Mvc;
@using DataModel.DataViewModel;
@model TickerMemberViewModel
@{
    ViewBag.Title = "ListTicker";
    Layout = "~/Areas/AdminCMS/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Danh sách kèo
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Danh sách kèo</li>

    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">

        <div class="col-md-12">

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Tìm kiếm</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        @using (Html.BeginForm("ListTicker", "Member", FormMethod.Get, new { id = "filterForm", role = "form" }))
                        {

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Trạng thái kèo</label>
                                    @Html.DropDownListFor(m => m.TickerStatus, Model.lstTickerStatus as SelectList, "Tất cả...", new { @class = "form-control select2" })
                                </div><!-- /.form-group -->

                            </div><!-- /.col -->



                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Sàn</label>
                                    @Html.DropDownListFor(m => m.MarketItemID, Model.lstMarketItem as SelectList, "Tất cả...", new { @class = "form-control select2" })
                                </div><!-- /.form-group -->

                            </div><!-- /.col -->

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Loại Coin</label>
                                    @Html.DropDownListFor(m => m.CyptoItemID, Model.lstCyptoItem as SelectList, "Tất cả...", new { @class = "form-control select2" })
                                </div><!-- /.form-group -->

                            </div><!-- /.col -->
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Đơn vị</label>
                                    @Html.DropDownListFor(m => m.unit, Model.lstUnit as SelectList, "Tất cả...", new { @class = "form-control select2" })
                                </div><!-- /.form-group -->
                            </div>

                            <div class="col-md-3">

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Tên kèo</label>
                                    <input type="text" class="form-control" name="FillterTickerName" placeholder="Tên kèo">
                                </div>
                            </div><!-- /.col -->
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Ngày tạo:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" name="Datetime" id="reservation">
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->

                            </div><!-- /.col -->
                            <div class="col-md-3">
                                <div class="form-group">
                                    <br>
                                    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                                </div>
                            </div><!-- /.col -->

                        }
                    </div>
                </div><!-- /.col -->
            </div><!-- /.box-body -->

            <div class="box box-widget">
                <div class="box-header with-border">
                    <h3 class="box-title">Danh sách Kèo</h3>
                </div><!-- /.box-header -->
                <div class='box-body'>
                    @foreach (MiniTickerViewModel _val in Model.lstMainTicker)
                    {

                        <div class="attachment-block clearfix">
                            <img class="attachment-img" src="~/@_val.MediaThumb" alt="attachment image">
                            <div class="attachment-pushed">

                                <div class="col-md-6">

                                    <h4 class="attachment-heading">
                                        <a href="@Url.Action("DetailTicker", "Member",new { tickerId =_val.TickerId })">@_val.TickerName</a>

                                        @foreach (ContentPackage _item in _val.lstTickerContentPackage)
                                        {
                                            <span class="badge bg-yellow">@_item.PackageName</span>
                                        }


                                    </h4>
                                    <div class="attachment-text">
                                        @Html.Raw(_val.Excerpt)...

                                        <a href="@Url.Action("DetailTicker", "Member", new { tickerId =_val.TickerId })">Chi tiết</a>
                                    </div><!-- /.attachment-text -->

                                </div>

                                <div class="col-md-6">

                                    <div class="user-block pull-left">
                                        @if (_val.Flag == 1 || _val.Flag == 2 || _val.Flag == 3)
                                        {
                                            <span class="badge bg-blue">Lời @_val.Profit %</span>
                                        }
                                        else if (_val.Flag == 4)
                                        {
                                            <span class="badge bg-red">Lỗ @_val.Deficit %</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-blue-gradient">Đang chạy</span>

                                        }




                                        <br>
                                    </div><!-- /.user-block -->


                                    <div class='user-block pull-right'>
                                        @if (Model.lstViewUserContent.Contains(_val.TickerId))
                                        {
                                            <span class='badge bg-green pull-right'> Đã xem</span>
                                        }
                                        <span class='description'>Được gửi bởi Admin - @_val.CrtdDT</span>
                                        <br>
                                    </div><!-- /.user-block -->

                                </div>







                            </div><!-- /.attachment-pushed -->
                        </div><!-- /.attachment-block -->

                    }
                </div><!-- /.user-block -->
                <div class="box-footer clearfix">
                    @if (Model.lstMainTicker.PageCount > 1)
                    {
                        @Html.PagedListPager(Model.lstMainTicker, page => Url.Action("ListTicker", new
                        {
                            page,
                            TickerStatus = Model.TickerStatus,
                            TickerPackage = Model.TickerPackage,
                            FillterTickerName = Model.FillterTickerName,
                            CyptoItemID = Model.CyptoItemID,
                            MarketItemID = Model.MarketItemID
                        }))
                    }
                </div>
            </div><!-- /.user-block -->
        </div>
    </div><!-- /.tab-content -->

</section><!-- /.content -->
<script>
    $(function () {
        //Date range picker
        $('#reservation').daterangepicker();

    });
</script>