@{
    ViewBag.Title = "Product List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using DataModel.DataEntity;
@using DataModel.DataViewModel;
@model  IEnumerable<ListProductViewModel>

@{
    Classification Objcata = ViewBag.MainCata;
    string prefixlink = Objcata.FriendlyURL;

}
<div class="content container">
    <div class="row">
        @Html.Action("RightSlidePartial2", "Home")

        <div class="col-md-9">
            @foreach (ListProductViewModel _val in Model)
            {
                    <div class="row">
                        <div class="row margin-bottom-5">
                            <div class="col-sm-12 result-category">
                                <h2>@_val.CataObj.ClassificationNM</h2>
                                <small class="shop-bg-red badge-results">@_val.lstProduct.Count sản phẩm</small>
                                <small class="badge-results"> <a href="~/@prefixlink/@_val.CataObj.FriendlyURL">Xem tất cả</a></small>

                            </div>
                        </div><!--/end result category-->

                        <div class="filter-results">
                            <div class="row illustration-v2">
                                @foreach (Product item in _val.lstProduct)
                                {
                                    <div class="col-md-4">
                                        <div class="product-img product-img-brd">
                                            <a href="~/@prefixlink/@_val.CataObj.FriendlyURL/@item.FriendlyURL"><img class="full-width img-responsive" src="~/@item.MediaUrl" alt=""></a>
                                            <a class="product-review" href="~/@prefixlink/@_val.CataObj.FriendlyURL/@item.FriendlyURL">Chi tiết</a>
                                            @*<a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>Add to cart</a>*@
                                            <div class="shop-rgba-dark-green rgba-banner">New</div>
                                        </div>
                                        <div class="product-description product-description-brd margin-bottom-30">
                                            <div class="overflow-h margin-bottom-5">
                                                <div class="pull-left">
                                                    <h4 class="title-price"><a href="~/@prefixlink/@_val.CataObj.FriendlyURL/@item.FriendlyURL">@item.ProductName</a></h4>
                                                    <span class="gender text-uppercase">@_val.CataObj.ClassificationNM</span>
                                                    @*<span class="gender">Suits - Blazers</span>*@
                                                </div>
                                                <div class="product-price">
                                                    @if (item.NewPrice.HasValue)
                                                    {
                                                        <span class="title-price">@item.NewPrice.Value.ToString("N0")/@item.UnitsName</span>
                                                        <span class="title-price line-through">@item.NewPrice.Value.ToString("N0")</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="title-price">Liên hệ</span>
                                                    }
                                                </div>
                                            </div>
                                            <ul class="list-inline product-ratings">
                                                <li><i class="rating-selected fa fa-star"></i></li>
                                                <li><i class="rating-selected fa fa-star"></i></li>
                                                <li><i class="rating-selected fa fa-star"></i></li>
                                                <li><i class="rating fa fa-star"></i></li>
                                                <li><i class="rating fa fa-star"></i></li>
                                                <li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div><!--/end filter resilts-->
                    </div>
              

            }


        </div>
    </div><!--/end row-->
</div>
<!--/end
