@{
    ViewBag.Title = "Create New Banner";
    Layout = "~/Areas/AdminCMS/Views/Shared/_Layout.cshtml";
    string bare_url = AppDomain.CurrentDomain.BaseDirectory;
    string folderimg = bare_url + "images";
}
@using Microsoft.AspNet.Identity
@using DataModel.DataViewModel;
@model VideoViewModels
<script src="https://cdn.ckeditor.com/4.4.3/standard/ckeditor.js"></script>
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h2 class="box-title">Thêm mới Video</h2>
                </div><!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("CreateVideo", "MediaManager", FormMethod.Post, new { role = "form", id = "CreateForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        <div class="col-md-9">
                            @Html.ValidationSummary("", new { @class = "text-danger" })

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Filename">Tên Video</label>
                                @Html.TextBoxFor(m => m.Filename, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.AlternativeText, new { @class = "col-md-4 control-label" })
                                @Html.TextBoxFor(m => m.AlternativeText, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Filename">Caption</label>
                                @Html.TextBoxFor(m => m.Caption, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Filename">Thông tin mở rộng</label>
                                @Html.TextBoxFor(m => m.EXIFInfo, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Filename">Mô tả Video</label>
                            </div>
                            <div class="form-group col-md-12">
                                @Html.TextAreaFor(m => m.MediaDesc, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.MetadataKeyword, new { @class = "col-md-4 control-label" })
                                @Html.TextBoxFor(m => m.MetadataKeyword, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.MetadataDesc, new { @class = "col-md-4 control-label" })
                                @Html.TextBoxFor(m => m.MetadataDesc, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.LinkHref, new { @class = "col-md-4 control-label" })
                                @Html.TextBoxFor(m => m.LinkHref, new { @class = "form-control", id = "DuongDanVideo" })
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary margin">Submit</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h2 class="box-title">Hình minh hoạ</h2>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="exampleInputFile">Hình minh hoạ</label>
                                        <input type="file" id="Default_files" name="Default_files" value="Chọn và upload">

                                    </div>
                                    <div class="form-group imgboxdata">
                                        <img class="img-responsive" src="/" id="blah" alt="Photo">
                                    </div>

                                </div>
                            </div><!-- /.box -->
                            <!-- The file input field used as target for the file upload widget -->
                            <label>Video</label>
                            <label class="file-upload"><span><i class="glyphicon glyphicon-plus"></i>Add files...</span><input id="fileupload" type="file" name="files[]"></label>

                            <div class="box box-primary">

                                <div class="box-header">
                                    <h2 class="box-title">Phân quyền người xem</h2>
                                </div><!-- /.box-header -->

                                <div class="box-body">
                                    <div class="form-group">
                                        @foreach (SelectListObj _val in Model.lstPackage)
                                        {
                                            <label>
                                                <input type="checkbox" name="lstTickerPackage" value="@_val.value"> @_val.text
                                            </label><br />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                    @*<div class="box-footer col-md-9">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>*@
                }
            </div><!-- /.box -->
            <!-- Form Element sizes -->

        </div><!--/.col (left) -->

    </div>   <!-- /.row -->
</section>
<script src="~/Scripts/jQuery.FileUpload/vendor/jquery.ui.widget.js"></script>
<script src="~/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="~/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="~/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="~/Scripts/jQuery.FileUpload/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="~/Scripts/jQuery.FileUpload/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="~/Scripts/jQuery.FileUpload/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="~/Scripts/jQuery.FileUpload/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="~/Scripts/jQuery.FileUpload/jquery.fileupload-ui.js"></script>
<!-- The File Upload jQuery UI plugin -->
<script>

    var url = "UploadVideo";
    $('#fileupload').fileupload({
        maxChunkSize: 1000000,
        url: url,
        dataType: 'json',
        add: function (e, data) {
            var goUpload = true;
            var uploadFile = data.files[0];
            //if (data.originalFiles.length > 10) {
            //    coreApp.notificationError('Error', 'Your files too much, multi upload accept with files < 10.');
            //    goUpload = false;
            //    return false;
            //}
            if (!(/\.(mp4)$/i).test(uploadFile.name)) {
                console.log('This file do not support. Please select file type .mp4');
                //coreApp.notificationError('Error', 'This file do not support. Please select file type .mp4');
                goUpload = false;
                return false;
            }
            //if (uploadFile.size > 20000000) { // 2mb
            //    coreApp.notificationError('Error', 'Please upload a smaller file, max size is 20 MB.');
            //    goUpload = false;
            //    return false;
            //}
            if (goUpload == true) {
                data.submit();
            }
        },
        done: function (e, data) {
            var a = data.result.FilePath;
            $("#DuongDanVideo").val(data.result.FilePath);
            $("#DuongDanVideo").attr("disabled", "disabled"); 

        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }
    }).on('fileuploadchunksend', function (e, data) { })
        .on('fileuploadchunkdone', function (e, data) { })
        .on('fileuploadchunkfail', function (e, data) {
            coreApp.alertError({
                title: 'Result', content: 'This file do not allow, upload file allow for file text, rar, mp3.'
            });
        })
        .on('fileuploadchunkalways', function (e, data) { });

    //$(document).ready(function () {

    //    var rules = {

    //        FriendlyURL: "required"
    //        , CategoryId: "required"
    //        , ContentTitle: "required"
    //        , ContentExcerpt: "required"
    //        , ContentText: "required"
    //        , MetadataKeyword: "required"
    //        , MetadataDesc: "required"
    //        , ImgdefaultId: {
    //           required: true,
    //           min: 1,
    //           number: true
    //        },

    //    };
    //    var messages = {
    //        FriendlyURL: "Please check FriendlyURL "
    //        , CategoryId: "Please check CategoryId"
    //        , ContentTitle: "Please check ContentTitle"
    //        , ContentExcerpt: "Please check ContentExcerpt"
    //        , ContentText: "Please check ContentText"
    //        , MetadataKeyword: "Please check MetadataKeyword"
    //        , MetadataDesc: "Please check MetadataDesc"
    //        , ImgdefaultId: "Please check ImgdefaultId"

    //    };

    //    ValidationForm({
    //        ctrID: "CreateForm"
    //        , rules: rules
    //        , messages: messages
    //    })


    //});

</script>
