
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using DataModel.Extension;
@using DataModel.DataEntity;
@using DataModel.DataViewModel;
@model IndexViewModel


<style>
    .service-box-v1 ul {
        padding: unset !important;
    }
</style>
<style>
    table, td, th {
        border: dotted 1px #72c02c;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 5px;
    }
</style>

<!-- Intro Section -->
<section id="body" class="intro-section" style="padding-top:70px">
    <div class="fullscreenbanner-container">
        <div class="fullscreenbanner">
            @*    <ul>
                <li data-transition="curtain-1" data-slotamount="5" data-masterspeed="700" data-title="Slide">
                    <!-- SLIDE 1 -->

                <video controls alt="slidebg1" width="100%" height="100%"
                       data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                    <source src="@Model.indexvideo.PageContent.ContentExcerpt" type="video/mp4">
                    Trình duyệt của bạn không hỗ trợ HTML5.
                </video>


                    <iframe width="100%" height="100%" src="@Model.indexvideo.PageContent.ContentExcerpt"
                            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen
                            alt="slidebg1"
                            data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat"></iframe>



                    </li>

                    </ul>
                    <div class="tp-bannertimer tp-bottom"></div>
                    <div class="tp-dottedoverlay twoxtwo"></div>
            *@


            <iframe width="100%" height="100%" src="@Model.indexvideo.PageContent.ContentExcerpt"
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen
                    alt="slidebg1"
                    data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat"></iframe>


        </div>
    </div>
</section>
<!-- End Intro Section -->
<!-- Services Section -->
<!--  About Section -->
<section id="crypto" class="about-section section-first">

    <div class="parallax-twitter parallaxBg">
        <div class="container">
            <div class="title-v1">
                <h1>CRYPTO là gì</h1>
                <p>
                    @Html.Raw(Model.crypto.PageContent.ContentText)
                </p>
            </div>
            <div class="img-center">
                <img class="img-responsive" src="~/@Model.crypto.PageContent.MediaUrl" alt="" width="100%">
            </div>
        </div>
    </div>

</section>
<!--  About Section -->
<!-- Portfolio Section -->
<section id="portfolio" class="about-section">
    <div class="parallax-twitter3 parallaxBg">
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="~/@Model.intro.PageContent.MediaUrl" alt="">
            </div>
            <div class="col-md-6 ">
                <div class="clearfix margin-bottom-30">
                    <div class="content-boxes-in-v3">
                        <h1>Giới thiệu</h1>
                        <span class="text-bold" style="color:white"> @Html.Raw(Model.intro.PageContent.ContentText) </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Portfolio Section -->


<section id="trading" class="about-section section-first">

    <div class="parallax-twitter2 parallaxBg">
        <div class="title-v1">
            <h2>TRADE</h2>
            <p>
                @Html.Raw(Model.trade.PageContent.ContentExcerpt)
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 content-boxes-v3 margin-bottom-40">
                <div class="clearfix margin-bottom-30">
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm"> @Html.Raw(Model.trade.PageContent.ContentText)</h2>

                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="~/@Model.trade.PageContent.MediaUrl" alt="">
            </div>
        </div>
    </div>

</section>
<!--  About Section -->
<!-- End News Section -->

<section id="contact">

   


    <div class="container content-lg">
        <div class="title-v1">
            <h2> Mừng Khuyến Mãi OpenBeta : giảm 50% phí</h2>

        </div>
        @*<div class="row service-box-v1">

            <div class="col-md-4 col-sm-6">
                <div class="service-block service-block-default">
                    <i class="icon-custom icon-lg icon-bg-u rounded-x icon-line icon-present"></i>
                    <h2 class="heading-sm">Silver Package</h2>
                    <p>Silver Package</p>
                    <ul class="list-unstyled">
                        <li>
                            A month: @ViewBag.Silver
                        </li>
                        <li>Three months: @(ViewBag.Silver * 3)</li>
                        <li>A year: @(ViewBag.Silver * 12)</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-block service-block-default">
                    <i class="icon-custom icon-lg icon-bg-u rounded-x icon-line icon-rocket"></i>
                    <h2 class="heading-sm">Night Package</h2>
                    <p>Night Package</p>
                    <ul class="list-unstyled">
                        <li>
                            A month: @ViewBag.Night
                        </li>
                        <li>Three months: @(ViewBag.Night * 3)</li>
                        <li>A year: @(ViewBag.Night * 12)</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-block service-block-default">
                    <i class="icon-custom icon-lg icon-bg-u rounded-x icon-line icon-rocket"></i>
                    <h2 class="heading-sm">Free</h2>
                    <p>Free</p>
                    <ul class="list-unstyled">
                        <li>
                            Free
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="service-block service-block-default">
                    <i class="icon-custom icon-lg icon-bg-u rounded-x fa fa-lightbulb-o"></i>
                    <h2 class="heading-md">Diamond Package</h2>
                    <p>Diamond Package</p>
                    <ul class="list-unstyled">
                        <li>
                            A month: @ViewBag.Diamond
                        </li>
                        <li>Three months: @(ViewBag.Diamond * 3)</li>
                        <li>A year: @(ViewBag.Diamond * 12)</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="service-block service-block-default">
                    <i class="icon-custom icon-lg icon-bg-u rounded-x fa fa-lightbulb-o"></i>
                    <h2 class="heading-md">Gold Package</h2>
                    <p>Gold Package</p>
                    <ul class="list-unstyled">
                        <li>
                            A month: @ViewBag.Gold
                        </li>
                        <li>Three months: @(ViewBag.Gold * 3)</li>
                        <li>A year: @(ViewBag.Gold * 3)</li>
                    </ul>
                </div>
            </div>
        </div>*@
        <table width="100%" style="background: #171717;font-size: 15px;color: #777;">
            <tr>
                <th style="text-align:left">Mô tả quyền lợi</th>
                <th style="text-align:left">FREE</th>
                <th style="text-align:left">Gói đêm</th>
                <th style="text-align:left">Bạc</th>
                <th style="text-align:left">Vàng</th>
                <th style="text-align:left">Kim Cương</th>
            </tr>
            @*<tr>
                <td>Lợi ích cơ bản</td><td></td><td></td><td></td><td></td><td></td>
            </tr>*@
            <tr>
                <td>Phân tích định hướng thị trường hằng ngày</td>
                <td>Random</td>
                <td>&#x2714;</td>
                <td>&#x2714;</td>
                <td>&#x2714;</td>
                <td>&#x2714;</td>
            </tr>
            <tr>
                <td>Tín hiệu giao dịch Margin</td>
                <td>Random</td>
                <td>&#x2714;</td>
                <td>&#x2714;</td>
                <td>&#x2714;</td>
                <td>&#x2714;</td>
            </tr>
            <tr>
                <td>Tin tức ,các sự kiện đồng coin ,thị trường</td>
                <td>Random</td>
                <td>&#x2714;</td>
                <td>&#x2714;</td>
                <td>&#x2714;</td>
                <td>&#x2714;</td>
            </tr>
            <tr>
                <td>Theo dấu cá mập</td>
                <td></td>
                <td>&#x2718;</td>
                <td>&#x2714;</td>
                <td>&#x2714;</td>
                <td>&#x2714;</td>
            </tr>
            <tr>
                <td>Dự báo coin sắp lên sàn</td>
                <td></td>
                <td>&#x2714;</td>
                <td>&#x2714;</td>
                <td>&#x2714;</td>
                <td>&#x2714;</td>
            </tr>
            <tr>
                <td>Báo cáo flash dump</td>
                <td>Random</td>
                <td>&#x2718;</td>
                <td>&#x2714;</td>
                <td>&#x2714;</td>
                <td>&#x2714;</td>
            </tr>
            <tr>
                <td>Báo cáo chênh lệch tỷ giá</td>
                <td></td>
                <td>&#x2718;</td>
                <td>&#x2714;</td>
                <td>&#x2714;</td>
                <td>&#x2714;</td>
            </tr>
            @*<tr>
                <td>Tỷ suất lợi nhuận của các kèo</td><td></td><td></td><td></td><td></td><td></td>
            </tr>*@
            <tr>
                <td>Được xem học video cơ bản</td>
                <td>Random</td>
                <td>&#x2714;</td>
                <td>&#x2714;</td>
                <td>&#x2714;</td>
                <td>&#x2714;</td>
            </tr>
            <tr>
                <td>Được xem học video nâng cao</td>
                <td></td>
                <td></td>
                <td></td>
                <td>&#x2714;</td>
                <td>&#x2714;</td>
            </tr>
            <tr>
                <td>Được xem học video chuyên sâu</td>
                <td></td>
                <td></td>
                <td></td>
                <td>&#x2714;</td>
                <td>&#x2714;</td>
            </tr>
            @*<tr>
                <td>Support</td><td></td><td></td><td></td><td></td><td></td>
            </tr>*@
            <tr>
                <td>Support online bình thường</td>
                <td></td>
                <td>&#x2714;</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Support online thường xuyên</td>
                <td></td>
                <td></td>
                <td>&#x2714;</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Support online vip</td>
                <td></td>
                <td></td>
                <td></td>
                <td>&#x2714;</td>
                <td>&#x2714;</td>
            </tr>
            @*<tr>
            <td>Đặc quyền</td><td></td><td></td><td></td><td></td><td></td></tr>*@
            <tr>
                <td>Support offline qua điện thoại,văn phòng</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>&#x2714;</td>
            </tr>
            <tr>
                <td>Cơ cấu tài khoản</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>&#x2714;</td>
            </tr>
            <tr>
                <td>Giá 1 tháng</td>
                <td></td>
                <td>@ViewBag.Night1M Vnd</td>
                <td>@ViewBag.Silver1M Usd</td>
                <td>@ViewBag.Gold1M Usd</td>
                <td>@ViewBag.Diamond1M Usd</td>
            </tr>
            <tr>
                <td>Giá 1 quý</td>
                <td></td>
                <td>@ViewBag.Night3M Usd</td>
                <td>@ViewBag.Silver3M Usd</td>
                <td>@ViewBag.Gold3M Usd</td>
                <td>@ViewBag.Diamond3M Usd</td>
            </tr>
            <tr>
                <td>Giá vĩnh viễn</td>
                <td></td>
                <td>@ViewBag.NightForever Usd</td>
                <td>@ViewBag.SilverForever Usd</td>
                <td>@ViewBag.GoldForever Usd</td>
                <td>@ViewBag.DiamondForever Usd</td>
            </tr>
        </table>
    </div>
</section>

<!-- End Services Section -->
<!-- News Section -->
<section id="news" class="news-section">
    <div class="container content-lg">
        <div class="title-v1">
            <h2>Tin tức</h2>

        </div>
        <div class="row news-v1">
            @foreach (ContentItem _item in Model.lstNews)
            { 
                <div class="col-md-4 md-margin-bottom-40">
                    <div class="news-v1-in">
                        <img class="img-responsive" src="~/@_item.MediaUrl" alt="" style="height:200px">
                        <h3><a href="@Url.Action("DetailNews", "Member",new { id =_item.ContentItemId,area = "AdminCMS" })">@_item.ContentTitle</a></h3>
                        <p>@Html.Raw(_item.ContentExcerpt)</p>
                        <ul class="list-inline news-v1-info">
                            <li><span>Được gửi bởi </span>Admin</li>
                            <li>|</li>
                            <li><i class="fa fa-clock-o"></i> @_item.CrtdDT</li>

                        </ul>
                    </div>
                </div>

            }


        </div>
    </div>
</section>
<!-- End News Section -->