@using Microsoft.AspNet.Identity
@using DataModel.Extension;
@using DataModel.DataViewModel;



<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/Areas/AdminCMS/dist/img/user_avartar.png" class="img-circle" alt="User Image">
            </div>

            @if (Request.IsAuthenticated)
            {
                <div class="pull-left info">
                    <p>@User.Identity.GetUserName()</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            }
        </div>

        <ul class="sidebar-menu">
            <li class="header">Danh mục</li>

            @if ((int)EnumCore.SystemConfig_MenuLeft.dashboard == 1)
            {
                if (User.IsInRole("AdminUser") || User.IsInRole("devuser") || User.IsInRole("supperadmin"))
                {
                    <li class="treeview">
                        <a href="@Url.Action("Index", "Dashboard", new { area = "AdminCMS" })">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>

                }
                else if (User.IsInRole("Mod"))
                {
                    <li class="treeview">
                        <a href="@Url.Action("ModIndex", "Dashboard", new { area = "AdminCMS" })">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>

                }
                else
                {

                    <li class="treeview">
                        <a href="@Url.Action("MemberDashBoard", "Member", new { area = "AdminCMS" })">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>

                }


            }
            @if ((int)EnumCore.SystemConfig_MenuLeft.classification == 1)
            {
                if (User.IsInRole("AdminUser") || User.IsInRole("devuser") || User.IsInRole("supperadmin"))
                {
                    <li class="treeview">
                        <a href="@Url.Action("Index", "ClassificationScheme", new { area= "AdminCMS" })">
                            <i class="fa fa-files-o"></i>
                            <span>Quản Lý Danh Mục</span>
                        </a>
                    </li>

                }
            }
            @if ((int)EnumCore.SystemConfig_MenuLeft.comment == 1)
            {
                <li>
                    <a href="@Url.Action("Index", "CommentManager", new { area = "AdminCMS" })">
                        <i class="fa fa-comments"></i> <span>Quản lý Comment</span>
                    </a>
                </li>
            }

            @if ((int)EnumCore.SystemConfig_MenuLeft.news == 1)
            {
                if (User.IsInRole("AdminUser") || User.IsInRole("devuser") || User.IsInRole("supperadmin") || User.IsInRole("Mod"))
                {

                    <li class="treeview">
                        <a href="@Url.Action("Index", "ContentItem", new { area = "AdminCMS" })">
                            <i class="fa fa-list-alt"></i>
                            <span>Quản lý Tin Tức</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "ContentItem", new { area = "AdminCMS" })"><i class="fa fa-circle-o"></i>Tất cả Bài Viết</a></li>
                            <li><a href="@Url.Action("Create", "ContentItem", new { area = "AdminCMS" })"><i class="fa fa-circle-o"></i>Thêm Bài Viết</a></li>
                        </ul>
                    </li>
                }
                else
                {

                    <li>
                        <a href="@Url.Action("ListNews", "Member", new { area = "AdminCMS" })">
                            <i class="fa fa-comments"></i> <span>Tất cả tin tức</span>
                        </a>
                    </li>
                }

            }





            @if ((int)EnumCore.SystemConfig_MenuLeft.product == 1)
            {
                <li class="treeview">
                    <a href="@Url.Action("Index", "ProductManager", new { area = "AdminCMS" })">
                        <i class="fa fa-list-alt"></i>
                        <span>Quản lý Sản Phẩm</span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "ProductManager", new { area = "AdminCMS" })"><i class="fa fa-circle-o"></i>Tất Cả Sản Phẩm</a></li>
                        <li><a href="@Url.Action("Create", "ProductManager", new { area = "AdminCMS" })"><i class="fa fa-circle-o"></i>Thêm Sản Phẩm</a></li>
                    </ul>
                </li>
            }


            @if ((int)EnumCore.SystemConfig_MenuLeft.media == 1)
            {
                if (User.IsInRole("AdminUser") || User.IsInRole("devuser") || User.IsInRole("supperadmin") || User.IsInRole("Mod"))
                {

                    <li class="treeview">
                        <a href="@Url.Action("Index", "MediaManager", new { area = "AdminCMS" })">
                            <i class="fa fa-user"></i>
                            <span>Quản lý Media</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "MediaManager", new { area = "AdminCMS" })"><i class="fa fa-circle-o"></i>Quản lý Hình Ảnh</a></li>
                            <li><a href="@Url.Action("BannerManager", "MediaManager", new { area = "AdminCMS" })"><i class="fa fa-circle-o"></i>Quản lý Banner</a></li>
                            <li><a href="@Url.Action("VideoManager", "MediaManager", new { area = "AdminCMS" })"><i class="fa fa-circle-o"></i>Quản lý Video</a></li>
                        </ul>
                    </li>
                }

            }


            @if ((int)EnumCore.SystemConfig_MenuLeft.display == 1)
            {
                <li>
                    <a href="@Url.Action("Create", "DisplayManager", new { area = "AdminCMS" })">
                        <i class="fa fa-comments"></i> <span>Quản lý Nội Dung Hiển Thị</span>
                    </a>
                </li>
            }



            @if ((int)EnumCore.SystemConfig_MenuLeft.tag == 1)
            {
                <li>
                    <a href="@Url.Action("Index", "ContentTag", new { area = "AdminCMS" })">
                        <i class="fa fa-tags"></i> <span>Quản lý Tag</span>
                    </a>
                </li>
            }


            @if ((int)EnumCore.SystemConfig_MenuLeft.user == 1)
            {
                if (User.IsInRole("AdminUser") || User.IsInRole("devuser") || User.IsInRole("supperadmin"))
                {

                    <li class="treeview">
                        <a href="@Url.Action("ListUser", "AccountAdmin", new { area = "AdminCMS" })">
                            <i class="fa fa-user"></i>
                            <span>Quản lý Tài Khoản</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Profile", "AccountAdmin", new { area = "AdminCMS" })"><i class="fa fa-circle-o"></i>Profile</a></li>
                            <li><a href="@Url.Action("ListUser", "AccountAdmin", new { area = "AdminCMS" })"><i class="fa fa-circle-o"></i> Quản lý User</a></li>
                        </ul>
                    </li>
                }
                else
                {

                    <li>
                        <a href="@Url.Action("Profile", "AccountAdmin", new { area = "AdminCMS" })">
                            <i class="fa fa-tags"></i> <span>Hồ Sơ cá nhân</span>
                        </a>
                    </li>




                }


            }


            @if ((int)EnumCore.SystemConfig_MenuLeft.role == 1 && User.IsInRole("devuser"))
            {
                <li class="treeview">
                    <a href="@Url.Action("Index", "RoleManager", new { area = "AdminCMS" })">
                        <i class="fa fa-user"></i>
                        <span>Quản lý Role</span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "RoleManager", new { area = "AdminCMS" })"><i class="fa fa-circle-o"></i>Danh sách Role</a></li>
                        <li><a href="@Url.Action("AddNewRole", "RoleManager", new { area = "AdminCMS" })"><i class="fa fa-circle-o"></i>Thêm mới Role</a></li>
                    </ul>
                </li>
            }




            @if ((int)EnumCore.SystemConfig_MenuLeft.config == 1 && (User.IsInRole("devuser") || User.IsInRole("supperadmin")))
            {
                <li>
                    <a href="@Url.Action("Index", "Config", new { area = "AdminCMS" })">
                        <i class="fa fa-lock"></i> <span>Cấu Hình</span>
                    </a>
                </li>
            }



            @if ((int)EnumCore.SystemConfig_MenuLeft.history == 1 && User.IsInRole("devuser"))
            {
                <li class="treeview">
                    <a href="@Url.Action("Index", "HistoryManager", new { area = "AdminCMS" })">
                        <i class="fa fa-list-alt"></i>
                        <span>Quản lý lịch sử</span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "HistoryManager", new { area = "AdminCMS" })"><i class="fa fa-circle-o"></i>Tất cả lịch sử lỗi</a></li>
                    </ul>
                </li>
            }




            @if ((int)EnumCore.SystemConfig_MenuLeft.order == 1)
            {
                <li class="treeview">
                    <a href="@Url.Action("Index", "ShopCartManager", new { area = "AdminCMS" })">
                        <i class="fa fa-list-alt"></i>
                        <span>Quản lý Đơn hàng</span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "ShopCartManager", new { area = "AdminCMS" })"><i class="fa fa-circle-o"></i>Tất cả Đơn hàng</a></li>
                    </ul>
                </li>
            }

            @if ((int)EnumCore.SystemConfig_MenuLeft.promotion == 1)
            {
                <li>
                    <a href="@Url.Action("Index", "Promotion", new { area = "AdminCMS" })">
                        <i class="fa fa-lock"></i> <span>Khuyến mãi</span>
                    </a>
                </li>
            }

            @if ((int)EnumCore.SystemConfig_MenuLeft.package == 1)
            {
                if (User.IsInRole("AdminUser") || User.IsInRole("devuser") || User.IsInRole("supperadmin"))
                {
                    <li class="treeview">
                        <a href="@Url.Action("index", "PackageManager", new { area = "AdminCMS" })">
                            <i class="fa fa-user"></i>
                            <span>Quản lý gói cước</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("index", "PackageManager", new { area = "AdminCMS" })"><i class="fa fa-circle-o"></i>Danh sách gói cước</a></li>
                            <li><a href="@Url.Action("Create", "PackageManager", new { area = "AdminCMS" })"><i class="fa fa-circle-o"></i>Thêm mới gói cước</a></li>
                        </ul>
                    </li>
                }


            }

            @if ((int)EnumCore.SystemConfig_MenuLeft.ticker == 1)
            {
                if (User.IsInRole("AdminUser") || User.IsInRole("devuser") || User.IsInRole("supperadmin") || User.IsInRole("Mod"))
                {
                    <li class="treeview">
                        <a href="@Url.Action("index", "TickerManager", new { area = "AdminCMS" })">
                            <i class="fa fa-user"></i>
                            <span>Quản lý Kèo</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("index", "TickerManager", new { area = "AdminCMS" })"><i class="fa fa-circle-o"></i>Danh sách Kèo</a></li>
                            <li><a href="@Url.Action("Create", "TickerManager", new { area = "AdminCMS" })"><i class="fa fa-circle-o"></i>Thêm mới Kèo</a></li>
                        </ul>
                    </li>
                }
                else
                {

                    <li>
                        <a href="@Url.Action("ListTicker", "Member", new { area = "AdminCMS" })">
                            <i class="fa fa-lock"></i> <span>Tất cả Kèo</span>
                        </a>
                    </li>
                }


            }
            @if ((int)EnumCore.SystemConfig_MenuLeft.mail == 1)
            {
                <li>
                    <a href="@Url.Action("Index", "EmailManager", new { area = "AdminCMS" })">
                        <i class="fa fa-lock"></i> <span>Hộp Thư</span>
                    </a>
                </li>
            }

            @if ((int)EnumCore.SystemConfig_MenuLeft.chatgroup == 1)
            {

                <li>
                    <a href="@Url.Action("Index", "ChatGroup", new { area = "AdminCMS" })">
                        <i class="fa fa-lock"></i> <span>Chat Nhóm</span>
                    </a>
                </li>

            }





            @if ((int)EnumCore.SystemConfig_MenuLeft.changepass == 1)
            {

                <li><a href="@Url.Action("ChangePassword", "AccountAdmin", new { area = "AdminCMS" })"><i class="fa fa-circle-o text-aqua"></i> <span>Đổi password</span></a></li>


            }




        </ul>
    </section>
    <!-- /.sidebar -->
</aside>