@using Microsoft.AspNet.Identity
@using DataModel.DataEntity;
@using DataModel.Extension;
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Package>
@{
    ViewBag.Title = "FrontEndIndex";
    Layout = "~/Areas/AdminCMS/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <row>
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-body">
                  
                    <div class="alert alert-info alert-dismissable">
                   
                        <h4><i class="icon fa fa-info"></i>Vui lòng chọn để nâng cấp tài khoản !</h4>
                 
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->

    </row>

    <div class="row">

        @{
        foreach (Package _val in Model)
        {
            if (_val.PackageId != (int)EnumCore.Package.free)

            {
                if (_val.PackageId != (int)EnumCore.Package.dem)
                {
                    <div class="col-md-4">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="profile-username text-center">@_val.PackageName</h3>

                            </div><!-- /.box-header -->
                            <div class="box-body text-center">
                                <a href="@Url.Action("ConfirmUpgrade", "PackageManager",new { UserId = User.Identity.GetUserId(),
                                        PackageId = _val.PackageId,PackageTimeType=(int)EnumCore.PackageTimeType.thang })" class="label label-success"><b>
    30 ngày -
     @String.Format("{0:N0}", _val.NewPrice) vnđ
</b></a>
                                <br>

                                @{ double val = _val.NewPrice.Value * 3; }
                                <a href="@Url.Action("ConfirmUpgrade", "PackageManager", new { UserId = User.Identity.GetUserId(),
                                        PackageId = _val.PackageId,PackageTimeType=(int)EnumCore.PackageTimeType.quy })" class="label label-success"><b>
    90 ngày - @String.Format("{0:N0}", _val.NewPrice3M)   vnđ
</b></a>
                                <br>

                                <a href="@Url.Action("ConfirmUpgrade", "PackageManager",
                                    new { UserId = User.Identity.GetUserId(), PackageId = _val.PackageId ,
                                        PackageTimeType =(int)EnumCore.PackageTimeType.vinhvien})" class="label label-success"><b>  Vĩnh viễn - 
                                    @String.Format("{0:N0}", _val.ForeverPrice.Value) vnđ</b></a>

                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div><!-- /.col -->
                }
                else
                {


                    <div class="col-md-4">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="profile-username text-center">@_val.PackageName</h3>
                            </div><!-- /.box-header -->
                            <div class="box-body text-center">
                                <a href="@Url.Action("ConfirmUpgrade", "PackageManager",
                                    new { UserId = User.Identity.GetUserId(), PackageId = _val.PackageId ,
                                        PackageTimeType =(int)EnumCore.PackageTimeType.thang})" class="label label-success"><b>30 ngày - @String.Format("{0:N0}", _val.NewPrice) vnđ</b></a>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div><!-- /.col -->
                }

            }

        }

        }
    </div><!-- /.row -->
</section><!-- /.content -->
