@using Microsoft.AspNet.Identity
@model DataModel.DataViewModel.PackageViewModel
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/AdminCMS/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h2 class="box-title">Thêm mới gói cước</h2>
                </div><!-- /.box-header -->
                @using (Html.BeginForm("Update", "PackageManager", FormMethod.Post, new { role = "form", id = "CreateForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        <div class="col-md-9">
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.PackageName, new { @class = "col-md-4 control-label" })
                                @Html.TextBoxFor(m => m.PackageName, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.NewPrice, new { @class = "col-md-4 control-label" })
                                @Html.TextBoxFor(m => m.NewPrice, new { @class = "form-control" })

                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.NewPrice3M, new { @class = "col-md-4 control-label" })
                                @Html.TextBoxFor(m => m.NewPrice3M, new { @class = "form-control" })

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ForeverPrice, new { @class = "col-md-4 control-label" })
                                @Html.TextBoxFor(m => m.ForeverPrice, new { @class = "form-control" })

                            </div>

                           
                            @Html.HiddenFor(m => m.PackageId)
                            @Html.HiddenFor(m => m.CrtdDT)
                            @Html.HiddenFor(m => m.CrtdUserId)
                            @Html.HiddenFor(m => m.CrtdUserName)
                            @Html.HiddenFor(m => m.StateId)
                            @Html.HiddenFor(m => m.StateName)


                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Hoàn thành</button>
                            </div>
                        </div>

                    </div><!-- /.box-body -->
                }
            </div><!-- /.box -->
            <!-- Form Element sizes -->

        </div><!--/.col (left) -->

    </div>   <!-- /.row -->
</section>
<script type="text/javascript">
    $(document).ready(function () {
        var rules = {
            PackageName: "required"
            , NewPrice: "required"
            , NumDay: "required"
        };
        var messages = {
            PackageName: "Vui lòng nhập tên gói cước"
            , NewPrice: "Vui lòng nhập giá"
            , NumDay: "Vui lòng nhập thời gian"

        };

        ValidationForm({
            ctrID: "CreateForm"
            , rules: rules
            , messages: messages
        })
    });


</script>


